<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="ie6"> <![endif]-->
<!--[if IE 7]>         <html class="ie7"> <![endif]-->
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html>         <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="author" content="XXXXX" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <title>XXXXX</title>
    <link href="{{ STATIC_URL }}main.css" rel="stylesheet" type="text/css" />
    <script src="{{ STATIC_URL }}main.js" type="text/javascript"></script>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
